// Post Card componet 
.c-post-card 
  text-align: center
  font-size: 12px


  &__picture 
    display: block
    height: 260px
    height: 260px

    img
      border-radius: $border-radius
      object-fit: cover
      height: 100%
      width: 100%
  
  a 
    text-decoration: none

  &__title 
    font-size: 12px
    padding-top: 10px
    padding-bottom: 30px
    text-decoration: underline
    color: $primary
