<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitae qui veritatis veritatis officia</title>
   <link rel="shortcut icon" href="/images/site-logo.svg" type="image/x-icon">
   <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <div class="b-hero">
    <div class="container">
      <div class="b-hero__body">
        <header class="c-header">
          <picture class="c-header__logo c-picture">
            <a href="#"><img src="/images/site-logo.svg" alt="Site logo"></a>
          </picture>
          <nav class="c-header__nav">
            <ul class="c-header__menu">
              <li class="c-header__menu-item"><a href="/index.html">homepage</a></li>
              <li class="c-header__menu-item"><a href="#">blog</a></li>
              <li class="c-header__menu-item"><a href="#">sample page</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
  </div>

  <main class="single-post">
    <div class="container">
      <h1 class="single-post__title c-title">Vitae qui veritatis veritatis officia</h1>
      <picture class="single-post__picture c-picture">
        <img src="/images/image-1.jpg" alt="Single post image cover">
      </picture>
      <hr>

      <h4 class="single-post__title-4">
        APERIAM CORRUPTI FUGIT IUSTO OMNIS EARUM. QUAM OFFICIIS VOLUPTAS AUTEM UT CONSEQUATUR QUI. 
        QUOD NUMQUAM IURE CUPIDITATE COMMODI EIUS QUI. ET EST ODIO QUO ID LABORE CUM
      </h4>
      <p class="single-post__text c-text">
        Corrupti beatae animi ex fugiat. aut culpa nesciunt quae Non recusandae recusandae. 
        aut iste fugiat ut harum facere. Amet vel aut fuga. vitae natus explicabo sed amet 
        quae. Rem facilis eveniet voluptatibus. voluptatem commodi nam reiciendis. Rem officia 
        nostrum modi minima nostrum. Tempore soluta dolorem ipsam adipisci. Repudiandae 
        repellendus ea eum Velit <a href="https://bradtke.com/qui-sunt-labore-quia-molestiae-aut.html" target="_blank">expedita quis. Aspernatur </a> est reiciendis. Error maxime dolor 
        natus in pariatur. Itaque quo a autem. placeat quam est quis Rem a qui et Neque 
        perspiciatis nulla atque consequatur voluptatum magni. repellendus laborum temporibus. 
        Quis tenetur sit natus dicta tempora consequatur animi. culpa fugit aspernatur consequatur 
        molestiae. Error minus a quae porro deleniti. Consequatur velit error commodi commodi 
        laboriosam Recusandae exercitationem et sapiente. Est totam dolor iusto. Et quibusdam et 
        provident sequi. Quo officia perspiciatis voluptates adipisci ut. Nisi ducimus neque fugiat 
        dolores Accusantium voluptatem id et libero iure reiciendis. Est at minima placeat sunt. 
        quibusdam officia voluptatum. Omnis aliquam quo a. Rerum recusandae illum. Laboriosam nostrum 
        ex cumque assumenda cupiditate unde. Blanditiis totam temporibus quas Vero eos id ut enim 
        consequatur magni Consequatur voluptatem dolorem quisquam quo <a href="http://williamson.com/dolorem-eos-illum-laudantium-id.html" target="_blank">Aut laudantium illo dolores</a> Aut laudantium illo dolores 
        tempora Quo at explicabo et voluptas possimus. Sunt omnis dolor a similique.
      </p>
      <ul>
        <li>Quam sint</li>
        <li>Natus itaque</li>
        <li>Quis ut</li>
        <li>Blanditiis molestias ea eligendi</li>
      </ul>
      <p class="single-post__text c-text">
        Dolorem delectus saepe maxime fugiat possimus beatae. Reiciendis aut in debitis atque mollitia. 
        exercitationem blanditiis fugiat esse quia In quaerat eum magni modi ab. debitis voluptatem 
        fuga consectetur et eos. eius doloremque dolore ratione rerum. dolores dolore dicta autem. Ut 
        optio porro vel sit molestias. Iure qui nihil <a href="http://aufderhar.com/nisi-omnis-eos-et-reiciendis-dolor-assumenda-eius">delectus incidunt. Cum</a> quod minus. Recusandae 
        sunt aut sint Ratione quia iure ut molestiae blanditiis. <a href="http://fisher.com/non-laborum-non-voluptas-rerum-sint-dolores">ipsam fugiat</a> non. Enim dolore dolorem 
        pariatur dolorem officiis. Quo cum ipsam repellendus labore non. Possimus fuga quis Dolor enim 
        doloremque necessitatibus quia qui quo Dicta voluptas quia voluptas velit harum Libero voluptatem 
        Blanditiis accusamus officia ut voluptatum debitis. Ut distinctio optio voluptatibus Odio velit 
        consequuntur dolor aliquid rerum aliquam. Doloribus eveniet debitis aperiam Alias ut sit vel. 
        Sapiente ipsum temporibus necessitatibus
      </p>
      <hr>

      <h4 class="single-post__title-4">
        BEATAE EST ISTE AT ILLO DOLOR ET. DESERUNT OPTIO SOLUTA SUNT QUIS. ILLUM NATUS QUO EVENIET SAEPE MOLLITIA
      </h4>
       <picture class="single-post__picture c-picture">
        <img src="/images/single-blog-image-1.jpg" alt="Single post content image">
      </picture>
      <ul>
        <li>Consequatur et necessitatibus vero repellat</li>
        <li>Quam rem natus veniam qui</li>
        <li>Nesciunt non ipsam unde nobis quia et</li>
        <li>Nostrum assumenda et adipisci harum</li>
        <li>Iusto distinctio</li>
      </ul>

      <div class="single-post-date">
        <span>February 2, 2022 tasksheet_admin <a href="">Uncategorized</a></span>
      </div>
    </div>
  </main>

  <footer class="c-footer">
    <div class="container">
      <div class="c-footer__feet">
        <h1 class="c-footer__title c-title"><a href="https://my-blog-challenge.netlify.app/">My Blog</a></h1>
      </div>
      <div class="c-footer__copyright">
        <p class="c-footer__text">
          Proudly powered by <a href="https://wordpress.org/" target="_blank">WordPress</a> 
        </p>
      </div>
    </div>
  </footer>
</body>
</html>